<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Reserva</title>
    {% extends 'base.html' %}
    {% load static %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

<!----------------------------------------------------------------------------------------------------------------->

    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"></i>Transfer Aeropuerto</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="col-lg-3 text-center text-lg-right">
                <select class="form-select custom-select" id="country-select">
                    <option value="">Seleccione un idioma...</option>
                    <option value="EN">Inglés</option>
                    <option value="ES">Español</option>
                    <option value="FR">Francés</option>
                    <option value="DE">Alemán</option>
                    <option value="IT">Italiano</option>
                    <option value="PT">Portugués</option>
                </select>
            </div>
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link">Inicio</a>
                <a href="about.html" class="nav-item nav-link">Nosotros</a>
                <a href="contact.html" class="nav-item nav-link">Contacto</a>
                <a href="admin.html" class="nav-item nav-link">Administrador</a>
            </div>
            <a href="reserva.html" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Reserva Ahora<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>

<!----------------------------------------------------------------------------------------------------------------->
{% block content %}
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Realiza tu Reserva Aquí</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Inicio</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Reserva</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

<!----------------------------------------------------------------------------------------------------------------->

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Registro de Reserva</h6>
                <h1 class="mb-5">Completa los campos para tu Reserva</h1>
            </div>

            <form method="get">
                {% csrf_token %}
                <div class="mb-3">
                <label for="pwd" class="form-label">Hora de Reserva:</label>
                <select class="form-select" aria-label="Default select example" id="horario" name="horario">
                <option selected>Selecciona la Hora</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Elije tu Vehículo:</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected disabled>Seleccionar</option>
                    <option value="1">Transfer</option>
                    <option value="2">Mini Bus</option>
                </select>
                </div>
                <div class="mb-3">
                <label for="pwd" class="form-label">Selecciona tu Zona de Viaje:</label>
                <select class="form-select" aria-label="Default select example" id="zona" name="zona">
                    <option selected disabled>Seleccionar</option>
                    <option value="1">Norte</option>
                    <option value="2">Sur</option>
                    <option value="3">centro</option>
                </select>
                </div>
                <div class="form-check mb-3">
                </div>

                <button id="toggleButton" class="btn btn-primary" type="submit">Mostrar Transfers</button>
            </form>
                <br>
<!----------------------------------------------------------------------------------------------------------------->

        <div id="cardContainer" class="card-container">

            {% for a in choferes %}
                <!-- Tarjeta 1 -->
                <form method="post" >
                    {% csrf_token %}
                    <div class="card">
                        <img src="{{a.vehiculo.FotoVehiculo}}" alt="Imagen Vehículo">
                        <div class="card-content">
                            <h3>Transfer 1</h3>
                            <h3>Chofer: {{ a.nombreChofer }}</h3>
                            <h3>Destino: {{ a.destino.nombreComuna }}</h3>
                            <h3>Cupos Disponibles: {{a.cupos}}</h3>
                            <select id="cupos" name="cupos">
                                <option value="1">1 Ticket</option>
                                <option value="2">2 Tickets</option>
                                <option value="3">3 Tickets</option>
                                <option value="4">4 Tickets</option>
                            </select>
                            <input type="hidden" value="{{ horario }}" id="horarioViaje" name="horarioViaje">
                            <input type="hidden" value="{{ a.idChofer }}" id="chofer" name="chofer">
                            <input type="hidden" value="{{ a.destino.ZonaViaje_id }}" id="zonaViaje" name="zonaViaje">
                            <button type="submit">Comprar</button>
                        </div>
                    </div>
                </form>
    
            {% endfor %}

        </div>
        {% if choferes %}
            <button id="showFormBtn" class="btn btn-primary" type="button">Confirmación Disponibilidad</button>
        {% endif %}
                <br>

<!----------------------------------------------------------------------------------------------------------------->

                
            

            
            </div>
        </div>

<!----------------------------------------------------------------------------------------------------------------->
{% endblock %}
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Accesos</h4>
                    <a class="btn btn-link" href="">Nosotros</a>
                    <a class="btn btn-link" href="">Contacto</a>
                    <a class="btn btn-link" href="">Terminos y condiciones</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Aeropuerto Internacional Comodoro Arturo Merino Benítez, Santiago</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+56(2) 2345 6789</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>contacto@transferaeropuerto.cl</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">2024 TRANSFER AEROPUERTO</a>, Todos los derechos reservados..
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Inicio</a>
                            <a href="">Nosotros</a>
                            <a href="">Contacto</a>
                            <a href="">Administrador</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!----------------------------------------------------------------------------------------------------------------->

    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>

    {% block scripts %}

    <script>
        $(document).ready(function(){

            $('.input-daterange').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                calendarWeeks : true,
                clearBtn: true,
                disableTouchKeyboard: true
            });

        });
    </script>

<!--<script>
    document.getElementById("showFormBtn").addEventListener("click", function() {
        var formContainer = document.getElementById("formContainer");
        formContainer.classList.toggle("d-none");
    });
</script>-->

<script>
    // Esperar que la página se cargue completamente
    window.addEventListener('load', () => {
      const toggleButton = document.getElementById('toggleButton');
      const cardContainer = document.getElementById('cardContainer');
  
      // Verifica si las tarjetas están ocultas o visibles
      const isHidden = cardContainer.style.display === 'none' || cardContainer.style.display === '';
  
      // Mostrar u ocultar las tarjetas según el estado
      cardContainer.style.display = isHidden ? 'flex' : 'none';
      //toggleButton.textContent = isHidden ? 'Ocultar Transfers' : 'Mostrar Transfers';
    });
  </script>
  {% endblock %}
</body>

</html>