<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin Aeropuerto</title>
    {% extends 'base.html' %}
    {% load static %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>

<!----------------------------------------------------------------------------------------------------------------->

    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

<!----------------------------------------------------------------------------------------------------------------->

    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"></i>Transfer Aeropuerto</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="col-lg-3 text-center text-lg-right">
                <select class="form-select custom-select" id="country-select">
                    <option value="">Seleccione un idioma...</option>
                    <option value="EN">Inglés</option>
                    <option value="ES">Español</option>
                    <option value="FR">Francés</option>
                    <option value="DE">Alemán</option>
                    <option value="IT">Italiano</option>
                    <option value="PT">Portugués</option>
                </select>
            </div>
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link">Inicio</a>
                <a href="about.html" class="nav-item nav-link">Nosotros</a>
                <a href="contact.html" class="nav-item nav-link">Contacto</a>
                <a href="admin.html" class="nav-item nav-link active">Administrador</a>
            </div>
            <a href="reserva.html" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Reserva Ahora<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>

<!----------------------------------------------------------------------------------------------------------------->
{% block content %}
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Administrador Aeropuerto</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Inicio</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Nosotros</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Administrador</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

<!----------------------------------------------------------------------------------------------------------------->

    <div class="container-xl px-4 mt-4">
        <div class="Profile Picture"></div>
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Accesos Directos</h6>
            </div>
        </div>
    </div>
    <br>

<!----------------------------------------------------------------------------------------------------------------->

    <section id="services" class="services section light-background">
        <div class="container">
          <div class="row g-5">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item item-orange position-relative"> 
                  <img src="{% static 'img/mapa.png' %}" alt="Icono bonito" class="service-icon">
                  <div>
                    <h3>Gestionar Zonas de Viaje</h3>
                    <p>Configura y administra las zonas de traslado: define áreas, establece tarifas, asigna disponibilidad de vehículos según la demanda. </p>
                    <a href="{% url 'gestionZonas' %}" class="read-more stretched-link">Accede aquí<i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              
<!----------------------------------------------------------------------------------------------------------------->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-item item-orange position-relative">
                <img src="{% static 'img/empresa.png' %}" alt="Icono bonito" class="service-icon">
                <div>
                  <h3>Administrar Empresas de Transporte</h3>
                  <p>Gestiona las empresas de transporte asociadas: registro de nuevos socios, actualización de datos, control de contratos.</p>
                  <a href="#" class="read-more stretched-link">Accede aquí<i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>

<!----------------------------------------------------------------------------------------------------------------->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-item item-teal position-relative">
                <img src="{% static 'img/incidencia.png' %}" alt="Icono bonito" class="service-icon">
                <div>
                  <h3>Incidencias</h3>
                  <p>Reporte y seguimiento de problemas: registro de incidentes, asignación de responsables, control de tiempos de resolución y generación de informes.</p>
                  <a href="#" class="read-more stretched-link">Accede aquí<i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
        
<!----------------------------------------------------------------------------------------------------------------->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-item item-red position-relative">
                <img src="{% static 'img/analisis.png' %}" alt="Icono bonito" class="service-icon">
                <div>
                  <h3>Reportes de Actividad</h3>
                  <p>Informes sobre las operaciones del aeropuerto: uso de tótems, reservas realizadas, incidencias y rendimiento de las empresas de transporte.</p>
                  <a href="#" class="read-more stretched-link">Accede aquí<i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<!----------------------------------------------------------------------------------------------------------------->
{% endblock %}
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Accesos</h4>
                    <a class="btn btn-link" href="">Nosotros</a>
                    <a class="btn btn-link" href="">Contacto</a>
                    <a class="btn btn-link" href="">Terminos y condiciones</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Aeropuerto Internacional Comodoro Arturo Merino Benítez, Santiago</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+56(2) 2345 6789</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>contacto@transferaeropuerto.cl</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">2024 TRANSFER AEROPUERTO</a>, Todos los derechos reservados..
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Inicio</a>
                            <a href="">Nosotros</a>
                            <a href="">Contacto</a>
                            <a href="">Administrador</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!----------------------------------------------------------------------------------------------------------------->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>